@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Story+Script&display=swap');

body {
  margin:0; /* remove default browser margin */
  min-height: 100vh; /* ensure body covers the viewport */
  background-image:url('images/_.jpeg');
  background-repeat: no-repeat; /* no tiling */
  background-size: cover; /* stretch to fill screen */
  font-family: "Epunda Slab", sans-serif; 
  color: pink;
}

h1, h2, h3, h4, h5, h6 {
font-family: "Epunda Slab", serif;
}
