@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Story+Script&display=swap');

body {
  margin:0; /* remove default browser margin */
  min-height: 100vh; /* ensure body covers the viewport */
  background-image:url('images/Lightpinkbackground.jpg');
  background-repeat: no-repeat; /* no tiling */
  background-size: cover; /* stretch to fill screen */
  font-family: "Epunda Slab", sans-serif; 
  color: dark pink;
  display: flex;
  flex-wrap: wrap; /* lets content wrap on small screens */
}

h1, h2, h3, h4, h5, h6 {
font-family: "Epunda Slab", serif;
}
/* Main section takes 3/4, aside takes 1/4 */
.main {
  flex: 3;
  min-width: 0;
  background-color:pink
  border-radius:24px;
  padding: 20px;
}

aside {
  flex: 1;
  min-width: 0;
  background-color:#f4cbf7;
  border-radius:24px
  padding: 20px;
}

/* Responsive layout: stack on smaller screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
